* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    background-color: #f4ebf3;
    min-height: 100%;
    cursor:default;
}


/* 
Colors of Choice (For Now):
f4ebf3 - Background Color
21121f - Text Color
5ba464 - Primary Color
deede7 - Secondary Color
76a45b - Accent Color
*/

/* Navigation Header START */
.topnav{
    border-radius: 5px;
}

.Navigation-Options{
    display: flex;
    list-style:none;
    justify-content: space-evenly;
}

.search-bar{
    width: 160vh;
    border-radius: 5px;
    border: 2px solid #5ba464;
    outline: none;
    background-color: #deede7;
    color: #21121f;
    font-size: large;
    box-shadow: 0 10px 10px rgba(91, 164, 100, 0.3);
}

.search-bar:focus{
    width: 160vh;
    background-color: #5ba464;
    color: #21121f;
    color: #f4ebf3;
    border: 2px solid #5ba464;
}

.Nav-Buttons{
    list-style: none;
    text-decoration: none;
    font-size: x-large;
    color: #21121f;
    padding: 7.5px;
    border-radius: 10px;
}

.Nav-Buttons:hover{
    list-style: none;
    text-decoration: none;
    font-size: x-large;
    color: #f4ebf3;
    background-color: #5ba464;
    padding: 7.5px;
    border-radius: 15px;
}
.Team-Content-Grandparent{
    border-radius: 5px;
    height: 100%;
    display: flex;
    justify-content:space-evenly

}
.Team-Info{
  color: #5ba464;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 12% 50% 50%;
    justify-items: center;
    align-items: center;
}

#CurrentWins{
  color: green;
}

#CurrentLosses{
  color: red;
}

#Record-Color-Correction, #CurrentTies{
  color: black;
}

.Info-Table-Parent-1{
  display: flex;
  margin-top: 9vh;
  flex-direction: column;
  margin-left: 2vh;
  margin-bottom: 5vh;
}

.Info-Table-Child-1{
    margin-bottom: 2vh;
}

.Info-Table-Child-1, .Info-Table-Child-2, .Info-Table-Child-3, .Info-Table-Child-4{
    color: #21121f;
    border: 3px solid #5ba464;
    background: #deede7;
    width: 50vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(91, 164, 100, 0.3);
}

.Info-Table-Child-2{
    margin-top: 5vh;
}

.Info-Table-Child-3{
  margin-top: 5vh;
}

.Info-Table-Child-4{
  margin-top: 5vh;
  border-spacing: 2vh;
}

.Team-Stats-Container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 130vh;
    background-color: #5ba464;
    border-radius: 10px;
    border: 3px solid #5ba464;
    box-shadow: 0 10px 10px rgba(91, 164, 100, 0.3);
  }
  .Container-Tabs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
  }
  h3 {
    background-color: #deede7;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    font-weight: 600;
  }
  .tab-content {
    background-color: #deede7;
    overflow-x: auto;
    scrollbar-color: #5ba464;
    scrollbar-width: none;
    padding: 50px 50px;
  }

  .tab-content h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000224;
    font-weight: 600;
  }
  .tab-content p {
    text-align: justify;
    line-height: 1.9;
    letter-spacing: 0.4px;
    color: #202238;
  }
  .tab-content div {
    display: none;
  }
  .tab-content .active {
    display: block;
  }
  .Container-Tabs .active {
    background-color: #5ba464;
    color: #f4ebf3;
  }

  iframe{
    border-radius: 10px;
    padding-right: 6vh;
  }

  /*Footer */ 

  .Footer-Container{
    display: flex;
    justify-content: space-evenly;
    background-color: #5ba464;
    color: #f4ebf3;
  }

  .footer-nav{
    list-style:none;
    text-decoration: none;
  }
  .footer-nav-option{
    text-decoration: none;
    color:#f4ebf3;
    text-align: center;
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .footer-nav-option:hover{
    text-decoration: none;
    color:#5ba464;
    background-color: #f4ebf3;
    padding-left: 5vh;
    padding-right: 5vh;
    border-radius: 5px;
  }